In [1]:
import pandas as pd
d=pd.read_csv("C:\\Users\\divya\\Desktop\\diabetes.csv")
df=pd.DataFrame(d)
type(df)

pandas.core.frame.DataFrame

In [2]:
len(df)

768

In [3]:
df.shape

(768, 9)

In [4]:
# Display the first 5 rows of the DataFrame
print(df.head())
#Display the last five rows of the DataFrame
print(df.tail())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

In [5]:

#display all columns and their data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
# Check for missing values in each column
missing_values_per_column = df.isnull().sum()

# Display the count of missing values in each column
print("Missing values in each column:")
print(missing_values_per_column)
# Check for missing values in each row
missing_values_per_row = df.isnull().sum(axis=1)

# Display the count of missing values in each row
print("Missing values in each row:")
print(missing_values_per_row)

Missing values in each column:
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64
Missing values in each row:
0      0
1      0
2      0
3      0
4      0
      ..
763    0
764    0
765    0
766    0
767    0
Length: 768, dtype: int64

In [7]:
# Display summary statistics
print(df.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [8]:
#average
d["Age"].mean()

33.240885416666664

In [9]:
#median
d[["Age","DiabetesPedigreeFunction"]].median()

Age                         29.0000
DiabetesPedigreeFunction     0.3725
dtype: float64

In [10]:
#using the DataFrame.agg() method:

d.agg(
    {
        "Age": ["min", "max", "median", "skew"],
        "DiabetesPedigreeFunction": ["min", "max", "median", "mean"],
    }
)

              Age  DiabetesPedigreeFunction
min     21.000000                  0.078000
max     81.000000                  2.420000
median  29.000000                  0.372500
skew     1.129597                       NaN
mean          NaN                  0.471876

In [11]:
d[["Outcome", "Age"]].groupby("Outcome").mean()

               Age
Outcome
0        31.190000
1        37.067164

In [12]:
d.groupby("Outcome").mean(numeric_only=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164